{% extends "base.html" %} {% block content %}

<div >
    <div class="selectfile d-flex justify-content-center" >
        <form id="upload-file" method="post" enctype="multipart/form-data">
            <label for="imageUpload" class="upload-label">
                Select an image
            </label>
            <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
        </form>
    </div>
    
    <div class="image-section" style="display:none;">
        <div class="img-preview mx-auto">
            <div id="imagePreview">
            </div>
        </div>
        <div id="predict-bt" class="text-center">
            <button type="button" class="btn btn-dark btn-lg" id="btn-predict">Predict!</button>
        </div>
    </div>

    <div class="loader mx-auto" style="display:none;"></div>

    <div class="text-center">
        <h3 id="result">
            <span> </span>
        </h3>
    </div>
    
</div>
{% endblock %}